/* introduce me - pudding content 01*/

@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Thin';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'KoPubWorldDotum';
  font-weight: 300;
  font-weight: 500;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldDotumMedium.ttf') format("truetype");
  font-display: swap;
}

/* @font-face {
  font-family: 'KoPubDotumMedium';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

.pudding__content-box-01 {
  background-color: rgb(255, 247, 161);
  /* background-color: rgb(255, 252, 216); */
  /* background-color: rgb(255, 243, 205); */
}

/* 내 소개 총괄 */
.pudding__content-introdution {
  display: flex;
  /* justify-content: space-evenly; */
  /* margin-top: 200px; */
  padding: 200px 150px 200px 150px;
}

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');


/* 내 소개 문구 */
.pudding__content-introduce-title {
  font-family: 'Pretendard-Thin';
  font-weight: bold;
  /* font-size: 30px; */
  margin-top: 0px;
  font-size: 25px;
  /* font-style: italic; */
}

.pudding__content-introduce-title2 {
  font-family: 'Pretendard-Bold';
  /* font-size: 0.6em; */
  font-size: 1.47em;
  margin-top: 5px;
  /* font-size: 0.67em; */
}

.pudding__content-introduce-subtitle {
  font-family: 'NanumSquare';
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgb(45, 43, 43);
}

.introduce-subtitle1 {
  margin-top: 50px;
}

.font-thin {
  font-family: 'Pretendard-Thin';
  font-size: 23px;
}

.font-bold {
  font-weight: 800;
  font-size: 22px;
}



/* 내 사진 */
.pudding_me-img {
  width: 400px;
  margin-left: 100px;
}