@media screen and (max-width: 2259px) {
  body {
    /* background-color: #000; */
  }
  /* 푸딩비 홈 (메인 화면) */
  .pudding__home-title-text {
    font-size: 1.2em;
  }
  .pudding__home-img-boat {
    width: 550px;
  }
  .pudding__home-img-wave {
    width: 550px;
  }
  .pudding__home-main-box {
    height: 750px;
  }
  /* 푸딩비 소개 (나의 푸딩비 - 1페이지) */
  .pudding__content-introdution {
    padding: 130px 150px 130px 150px;
  }
  .pudding__content-introduce-title {
    margin-top: 90px;
    font-size: 1.96em;
    margin-bottom: 45px;
  }
  .pudding__content-introduce-subtitle {
    font-size: 1.05em;
    line-height: 1.25em;
  }
  /* 푸딩비 스킬들 - 2페이지 */
  .pudding__content-skill-box {
    top: 80%;
    width: 55%;
    height: 65%;
  }
  .pudding__content-skill-title {
    font-size: 2.2em;
    text-align: center;
  }
  .pudding__content-skill-subtitle {
    font-size: 0.8em;
    margin-left: 5px;
  }
  .pudding__skill-css-font{
    margin-right: 105px;
  }
  .pudding__skill-js-font {
    margin-right: 9px;
  }
  .pudding__gray-stamp {
    width: 80px;
    height: 80px;
  }  
  .skill-info-icon {
    width: 25px;
    margin-top: 3px;
  }
  .skills_detailed,
  .accordion-icon {
    font-size: 0.9em;
  }
}

/* @media all and (min-width:768px) and (max-width:1024px) */
@media all and (min-width:768px) and (max-width:1120px) {
  body {
    background-color: orange; /* 미디어쿼리되는지 확인 */
  }
  /* 홈 화면 */
  .pudding__home-main-box {
    width: 100%;
    height: 690px;
    /* padding: 30px; */
  }  
  /* .pudding__home-img-boat {
    width: 500px;
  }
  .pudding__home-img-wave {
    width: 500px;
  } */
  .nav-size {
    font-size: 90%;
  }
  
  /* 푸딩비 소개 */
  .pudding_me-img {
    width: 340px;
    margin-left: 100px;
  }
  .pudding__content-introduce-title-box {
    /* justify-content: center;
    align-items: center;
    margin-top: 500px; */
  }
  .pudding__content-introduce-title {
    margin-top: 150px;
    line-height: 45px;
    /* font-size: 1.96em; */
    /* margin-bottom: 45px; */
  }
  .media_query-1 {
    position: absolute;
    top: 1340px;
    left: 10px;
    padding: 30px 90px;
    line-height: 23px;
  }
  .media_query-2 {
    position: absolute;
    top: 1390px;
    left: 10px;
    padding: 30px 90px;
    line-height: 23px;
  }

  .media_query-3 {
    position: absolute;
    top: 1460px;
    left: 10px;
    padding: 30px 90px;
    line-height: 23px;
  }
  .pudding__content-box-01 {
    height: 1000px;
  }
  /* 푸딩비 스킬들! */
  .pudding__content-skill-box {
    width: 55%;
    height: 50%;
    background-color: rgb(255, 251, 246);
    position: absolute;
    top: 900px;
  }
  .pudding__content-skill-subtitle {
    font-size: 65%;
  }
  .pudding__gray-stamp {
    width: 60px;
    height: 60px;
  }
}