@font-face {
  font-family: 'IM_Hyemin-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

.pudding__content-box-02 {
  padding: 330px 0 10px 0;
  background-color: rgb(255, 224, 224);
  /* background-color: rgb(255, 255, 255); */
  width: 100%;
  height: 600px;
}

.pudding__content-skill-section-box {
  /* width: 1200px;
  height: 600px; */
  /* width: 800px;
  height: 500px; */
  width: 60%;
  height: 85%;
  height: 87%;
  background-color: rgb(255, 251, 246);
  position: relative;
  top: -1500px;
  left: 50%;
  transform: translate(-48%, 270%);
  box-shadow: 3px 3px 10px 5px rgba(128, 128, 128, 0.362);
  font-family: 'IM_Hyemin-Bold';
  border-radius: 2px;
}

.pudding__content-skill-flex-box {
  display: flex;
  flex-direction: column;
}

.pudding__skills-title-flex-box {
  display: flex;
  justify-content: center;
  margin-left: 70px;
  margin-left: 80px;
}


.pudding__content-skill-title {
  font-size: 40px;
  padding-top: 40px;
  text-align: center;
  /* position: absolute; */
}

.pudding_title-flex-box {
  display: flex;
  justify-content: center;
}

.pudding_content-skill-flex-box {
  display: flex;
  justify-content: center;
}

/* 세부스킬사항 텍스트 */
.pudding__content-detailed-skills-text {
  text-align: center;
  font-size: 1.0em;
}

.pudding__content-skill-subtitle {
  /* font-size: 1.3em; */
  font-size: 150.0%;
  /* margin: 40px 60px; */
  margin: 40px 15px;
}


/* 푸딩 도장 */
.pudding_stamp-btn {
  width: 90px;
  height: 90px;
  transform: rotate(-20deg);
  margin-top: 20px;
  cursor: pointer;
  /* position: absolute; */
  /* top: 25px;
  right: 215px; */
}

.pudding_stamp-btn:hover,
.pudding__gray-stamp:hover {
  -webkit-transition: all 0.4s;
  filter: brightness(150%);
}

.pudding__gray-stamp:hover {
  cursor: pointer;
  /* filter: brightness(110%); */
  filter: contrast(120%);
}


.pudding__skill-html {
  display: flex;
  /* margin-top: 50px; */
  margin-top: 25px;
}

.pudding__skill-css,
.pudding__skill-js {
  display: flex;
  align-items: center;
}

.pudding__skill-html-font {
  margin-right: 95px;
}

.pudding__skill-css-font{
  margin-right: 110px;
}

.pudding__skill-js-font {
  /* margin-right: 20px; */
  margin-right: 3px;
  /* font-size: 27px; */
}

.pudding__skill-title-box {
  display: flex;
  align-items: center;
  margin-left: 32px; /* skill_line-star시 */
  /* margin-left: 40px; */
}


.skill-info-icon {
  width: 30px;
  /* width: 11.5%; */
  cursor: pointer;
}

.pudding__gray-stamp {
  /* width: 90px;
  height: 90px; */
  width: 13%;
  /* height: 84%; */
  /* margin-right: 3px; */
}

.pudding__stamp-box-js {
  width: 90%;
  height: 30%;
  margin-left: 5px;
}


/* js 챌린지 수료증 */
.js_certificate {
  width: 600px;
  height: 500px;
  display: none;
  position: absolute;
  transform: translate(26%, 10%);
  z-index: 1;
  /* transition효과 추가하기 */
}


/* 푸딩비 스킬들 세부사항 기록 - 레이어창 */
.pudding__content-skill-pop-up-box {
  /* position: relative; */
}



/* 스킬 세부사항 팝업창 */

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.3); */
  /* background-color: rgba(0, 0, 0, 0.152); */
  z-index: 1000;
  
  /* 숨기기 */
  z-index: -1;
  opacity: 0;
}

.show {
  opacity: 1;
  z-index: 1000;
  transition: all .5s;
}

.window {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  background-color: rgb(255, 251, 246);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 30px;
  
  /* 임시 지정 */
  width: 900px;
  height: 500px;
  
  /* 초기에 약간 아래에 배치 */
  transform: translate(-50%, -40%);
}

.popup h2 {
  text-align: center;
}

.show .popup {
  transform: translate(-50%, -50%);
  transition: all .5s;
}

#show,
#close {
  border-style: none;
  background-color:transparent;
}

#close {
  position: absolute;
  top: 40px;
}

#close:hover {
  transform: rotate( 720deg );
}

/* #close {animation: rotate_close-btn 6s linear infinite;transform-origin: 50% 50%;} */

/* @keyframes rotate_close-btn{
    100% {
        transform: rotate(360deg);
    }
} */

.pudding__skill-ul li {
  /* list-style: square; */
  list-style: disc;
}

/* #show {
  position: absolute;
  bottom: 75px;
  left: 40px;
  color: rgb(46, 40, 40);
} */