@font-face {
  font-family: 'IM_Hyemin-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

.pudding__content-box-02 {
  padding: 330px 0;
  background-color: rgb(255, 224, 224);
  width: 100%;
  height: 600px;
}

.pudding__content-skill-box {
  /* width: 1200px;
  height: 600px; */
  width: 55%;
  height: 50%;
  background-color: rgb(255, 251, 246);
  position: absolute;
  top: 80%;
  left: 50%; 
  transform: translate(-48%, 270%);
  box-shadow: 3px 3px 10px 5px rgba(128, 128, 128, 0.362);
  font-family: 'IM_Hyemin-Bold';
}

.pudding__content-skill-title {
  font-size: 40px;
  padding-top: 45px;
  text-align: center;
}

.pudding__content-skill-subtitle {
  font-size: 25px;
}

.pudding__content-skill-subtitle-box {
  font-size: 30px;
  display: flex;
  flex-direction: column;
}

.pudding__content-skill-subtitle {
  margin: 40px 60px;
  margin: 40px 15px;
  /* font-size: 25px; */
}

/* 푸딩 도장 */
.pudding__skill-html {
  display: flex;
  /* margin-top: 50px; */
  margin-top: 25px;
}

.pudding__skill-css,
.pudding__skill-js {
  display: flex;
}

.pudding__skill-html-font {
  margin-right: 90px;
}

.pudding__skill-css-font{
  margin-right: 110px;
}

.pudding__skill-js-font {
  margin-right: 20px;
  margin-right: 5px;
  font-size: 27px;
}

.pudding__skill-title-box {
  display: flex;
  align-items: center;
  margin-left: 32px; /* skill_line-star시 */
  margin-left: 40px;
}


.skill-info-icon {
  width: 30px;
  /* width: 11.5%; */
  cursor: pointer;
}

.pudding__gray-stamp {
  width: 100px;
  height: 100px;
}


/* js 챌린지 수료증 */
.js_certificate {
  width: 600px;
  height: 500px;
  display: none;
  position: absolute;
  transform: translate(40%, 10%);
  /* transition효과 추가하기 */
}


/* 푸딩비 스킬들 세부사항 기록 - 레이어창 */
.pudding__content-skill-pop-up-box {
  /* position: relative; */
}



/* 스킬들 아코디언 팝업창 */
.accordion {
  font-family: 'IM_Hyemin-Bold';
  position: absolute;
  bottom: -100px;
  background-color:rgba(255, 255, 255, 0);
  cursor: pointer;
  width: 100%;
  border: none;
  font-size: 16px;
  transition: 0.5s;
  text-align: left;
  padding:10px;
  font-size: 20px;
}

.accordion-icon {
  font-size: 25px;
}

.accordion_click-pop-up {
  position: absolute;
  top: 560px;
  padding: 0 18px;
  /* background-color: #f7f7f7; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  /* border-top:1px solid #F0F0F0; */
  /* color:#666666; */
  background-color: rgba(255, 251, 246, 0.477);
  border-radius: 15px;
}

/* 달별 클릭 시 색 유지되게 하기*/
