.pudding__content-box-03 {
  background-color: rgb(159, 214, 155);
  height: 1100px;
  /* margin-top: 100px; */
}

.pudding__content-project-title {
  margin: 0;
  font-size: 40px;
  text-align: center;
  padding-top: 100px;
}

.pudding_talk-gif {
  width: 250px;
  height: 609px;
  height: 509px;
}

.js_challenge-gif {
  width: 700px;
  height: 400px;
  /* margin-top: 110px; */
  margin-left: -300px;
}

li{
  list-style: none;
}

.slide_project-title-flex-box {
  display: flex;
  flex-direction: column;
}

.slide_project-title-js {
  position: absolute;
  top: -5px;
  left: 740px;
}



/* 보여줄 구간의 높이와 넓이 설정 */
#slideShow{
  width: 900px;
  height: 825px;
  position: relative;
  margin: 50px auto;
  overflow: hidden;   
  /*리스트 형식으로 이미지를 일렬로 
  정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은
  hidden으로 숨겨줘야됨*/
}


.slides{
  position: absolute;
  left: 0;
  top: 0;
  width: 2500px; /* 슬라이드할 사진과 마진 총 넓이 */
  transition: left 0.5s ease-out; 
  /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
}

.project_subtitle-pudding-talk {
  font-family: 'NanumSquare';
}



.project_title-pudding-talk {
  margin-left: 20.5%;
  margin-bottom: 25px;
  text-align: center;
  font-size: 25px;
  width: 10%;
}

.slide_project-title  {
  margin-left: 18%;
}



.project_subtitle-pudding-talk {
  margin-left: 7%;
  width: 600px;
  font-size: 17px; 
}

.github-icon {
  margin-left: 20%;
  margin-left: 19.7%;
  margin-bottom: 30px;
  color: black;
}

.dlatl-icon {
  /* width: 4%; */
  width: 75px;
  position: absolute;
  top: 45px;
  margin-left: 8px;
}

.dlatl-icon2 {
  left: 1340px;
}

.github-icon2 {
  position: absolute;
  top: 55px;
  left: 928px;
}


.pudding__home-img-box-wave:hover {
  cursor: pointer;
  -webkit-transition: all 0.4s;
  filter: brightness(150%);
  filter: contrast(120%);
}

.project_title-js-challenge {
  text-align: center;
  width: 30%;
}

.slide-project-title02 {
  position: absolute;
  top: 140px;
  left: 950px;
}



/* 첫 번째 슬라이드 가운데에 정렬하기위해
첫번째 슬라이드만 margin-left조정 */
.slides li:first-child{
  margin-left: 100px;
  margin-left: 70px;
}

/* 슬라이드들 옆으로 정렬 */
.slides li:not(:last-child){
  /* float: left; */
  margin-right: 100px;
  margin-right: 300px;
  margin-left: 60px;
}

.slides li{
  float: left;
  width: 700px;
  display: flex;
  justify-content: center;
}

.controller span{
  position:absolute;
  background-color: transparent;
  color: black;
  text-align: center;
  border-radius: 50%;
  padding: 10px 20px;
  top: 3400px;
  margin: 0 250px;
  font-size: 1.3em;
  cursor: pointer;
}

/* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.controller span:hover{
  background-color: rgba(128, 128, 128, 0.11);
}

.prev{
  left: 30px;
}

/* 이전 화살표에 마우스 커서가 올라가 있을때 
이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
.prev:hover{
  transform: translateX(-10px);
}

.next{
  right: 10px;
}

/* 다음 화살표에 마우스 커서가 올라가 있을때 
이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
.next:hover{
  transform: translateX(10px);
}

.controller {
  margin: 0;
}