/* 폰트들 */
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Nanum+Gothic:wght@400;800&family=Noto+Sans+KR:wght@500&family=Noto+Serif+KR:wght@500&display=swap');

/* 상단 네비 */
@import "nav.css";

/* 푸딩비 홈 타이틀+배경*/
@import "home.css";

/* 푸딩비 첫 컨텐츠 (1페이지) */
@import "introduce_me.css";


body {
  font-family: 'Noto Sans KR', sans-serif;
  /* font-family: 'Noto Serif KR', serif; */
  font-family: 'Gugi', cursive;
  margin: 0;
}

a {
  text-decoration: none;

}
